{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{#{% block head_title %}#}
{#    {% trans "HELLO" %}#}
{#{% endblock %}#}

{% block content %}
    <h1>1ère page (connexion) + résumé</h1>
{#    <section class="lOgin">#}
{#        <h3>{% trans "Connectez-vous" %}</h3>#}
{#        {% get_providers as socialaccount_providers %}#}
        {# boutons sociaux#}
{#        {% if socialaccount_providers %}#}
{#            <div class="socialaccount_ballot">#}
{#              <div class="socialaccount_providers">#}
{#                  <a class="fab fa-facebook-f fa-2x" href="{% provider_login_url "facebook" method="js_sdk" %}"></a>#}
{#                {% include "socialaccount/snippets/provider_list.html" with process="login" %}#}
{#              </div>#}
{#              <div class="login-or">{% trans ' ' %}</div></br>#}
{#            </div>#}
{#            {% include "socialaccount/snippets/login_extra.html" %}#}
{#        {% else %}#}
{#            <p>{% blocktrans %}Si vous n'avez pas encore de compte, veuillez vous#}
{#            <a href="{{ signup_url }}">inscrire</a>.{% endblocktrans %}</p>#}
{#        {% endif %}#}
{##}
{#        <form class="login" method="POST" action="{% url 'account_login' %}">#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            {% if redirect_field_value %}#}
{#                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />#}
{#            {% endif %}#}
{#            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Mot de passe oublié ?" %}</a>#}
{#            <button class="primaryAction" type="submit">{% trans "Connexion" %}</button></br>#}
{#            <div class="login-or">{% trans 'ou' %}</div>#}
{#            <a href="{% url 'account_signup' %}">S'inscrire</a>#}
{#        </form>#}
{#    </section>#}

    <div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Connexion</h3>
                {% get_providers as socialaccount_providers %}
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    {% include "socialaccount/snippets/login_extra.html" %}
{#                {% for provider in socialaccount_providers %}#}
                                        {# boutons sociaux#}
{#                    {% if socialaccount_providers %}#}
{#                        <div class="d-flex justify-content-end social_icon">#}
{#                            {% if provider.name == "Facebook" %}#}
{#                                <span id="face"><a class="fab fa-facebook-square" type="button" href="{% if provider.name == "Facebook" %}{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}{% endif %}"></a></span>#}
{#                            {% endif %}#}
{#                            {% if provider.name == "Google"%}#}
{#                                <span id="goog"><a class="socialaccount_provider fab fa-google-plus-square" type="button" href="{% if provider.name == "Google" %}{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}{% endif %}"></a></span>#}
{#                            {% endif %}#}
{#                        </div>#}

{#                {% endfor %}#}
{#                    <div class="socialaccount_ballot">#}
{#                        <div class="socialaccount_providers">#}
{#				            <div class="d-flex justify-content-end social_icon">#}
{#					            <span id="face"><i class="fab fa-facebook-square"></i></span>#}
{#					            <span id="goog"><i class="fab fa-google-plus-square"></i></span>#}
{#                            </div>#}
{#                        </div>#}

{#                    {% else %}#}
{#                    <p>{% blocktrans %}Si vous n'avez pas encore de compte, veuillez vous#}
{#                    <a href="{{ signup_url }}">inscrire</a>.{% endblocktrans %}</p>#}
{#                    {% endif %}#}

            </div>

			<div class="card-body">
{#                                        FORMULAIRE#}
				<form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input id="id_login" type="email" name="login" class="form-control" placeholder="Adresse e-mail" autofocus="autofocus" required="">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input id="id_password" type="password" name="password" class="form-control" placeholder="Mot de passe" required="">
					</div>
					<div class="form-group">
						<input type="submit" value="Connexion" class="btn float-right login_btn primaryAction">
					</div>
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
				</form>

			</div>

			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Pas encore de compte?<a href="{{ signup_url }}">Inscription</a>
				</div>
				<div class="d-flex justify-content-center button secondaryAction">
					<a href="{% url 'account_reset_password' %}">Mot de passe oublié?</a>
				</div>
			</div>
		</div>
	</div>
    </div>
{% endblock %}
