.sign h1 {
    color: white;
    margin-bottom: 1em;
}

.sign h5 {
    color: white;
    margin-bottom: 2em;
}

.sign {
    background-color:rgba(0, 0, 0, 0.5);
    padding: 2em;
    border-radius: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40%;
}